body {
	background-color: #FAF9F9;
	margin: 0;
	padding: 0;
	height: 5000px;
}

#header-container {
	width: 100%;
	border-bottom: 2px solid #2A2B2A;
	position: fixed;  
	background-color: #2A2B2A;	
}

h1 {
	font-family: 'Cinzel', serif;
	color: #FAF9F9;
	margin: 0;
	padding: 0;
	float: right;
}

.expanded-h1 {
	letter-spacing: 45px;
	font-size: 5em;
	height: 100px;
}

.compressed-h1 {
	letter-spacing: 150px;
	font-size: 2em
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px;
}



.play-button {
	cursor: pointer;
	padding: 30px;
	margin: 15px 10px;
	border-radius: 50px;
	line-height: 40px;
	background-color: #FAF9F9;
	font-family: 'Muli', sans-serif;
	color: #2A2B2A;
	font-size: 40px;
	box-shadow: 0px 4px 10px 3px #efefef;
	flex-grow: 1;
	text-align: center;
}